{% extends "app/base.html" %} {% block content %}
<h1>Create Article</h1>
<form method="POST">
	{% csrf_token %} {{ form.as_p }}
	<button type="submit">Save</button>
</form>
<a href="{% url "home"%}">Back to list</a>
{% endblock content %}


{% block page_js %}
<script>
	const contentmarkdown = new EasyMDE(
		{
			element: document.getElementById('id_content'), 
			spellChecker: false,
			status: true,
			toolbar: true,
			forceSync: true,
			toolbar: [
				{
					name: "bold",
					action: EasyMDE.toggleBold,
					className: "fa fa-bold",
					title: "Bold",
				},
				"|",
				"italic",
				"|",
				"heading",		
				"|",
			]
		}
	);
</script>
{% endblock page_js %}
