{% extends "app/base.html" %}

{% load widget_tweaks %}

{% block content %}

<form method="POST">
	{% csrf_token %}
	
	{% render_field form.title %}

	{% block article_status %}
	{% endblock article_status %}

	{% render_field form.status %}
	
	{% render_field form.content %}

	{% render_field form.twitter_post %}
	
	{% block buttons %}
	{% endblock buttons %}
</form>

{% endblock content %}

d
{% block page_js %}
<script>
	const contentmarkdown = new EasyMDE(
		{
			element: document.getElementById('id_content'), 
			spellChecker: false,
			status: true,
			toolbar: true,
			forceSync: true,
			toolbar: [
				{
					name: "bold",
					action: EasyMDE.toggleBold,
					className: "fa fa-bold",
					title: "Bold",
				},
				"|",
				"italic",
				"|",
				"heading",		
				"|",
			]
		}
	);
</script>
{% endblock page_js %}
